# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
logs/

# Ignore large data/output contents
data/
TokenHMR/
4D-Humans/
head_targets_unscaled/
keypoints2d/
release_data/
reproducibility_env/
smpl/
visualizations/

# Large files
*.obj
*.npz
*.pkl
*.pt
*.pth
*.ckpt
*.mp4

# Metrics outputs
metrics_*.csv
*_summary.csv

#visualization
*.html
*.jpg

#text file
*.txt

release_data.tar.gz
release_data.tar.gz.sha256